<!DOCTYPE html>
<html lang="en-us">
  <meta name="naver-site-verification" content="f8e21b1dd659101bb4de33352bf25a518c015d76"/>
  
  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include custom-foot.html %}
	
	<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
	<script type="text/javascript">
	if(!wcs_add) var wcs_add = {};
	wcs_add["wa"] = "1c482ea9616f5c";
	wcs_do();
	</script>
	
	<script data-ad-client="ca-pub-4654940546214466" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	
    <!-- syntax.css -->
    <link rel="stylesheet" href="/assets/built/syntax.css">
  </body>
</html>
