---
layout: default
---

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>
  {% endfor %}
  
  <!--<ins class="kakao_ad_area" style="display:none;" 
   data-ad-unit    = "DAN-1iv4b6b8ddx7q" 
   data-ad-width   = "320" 
   data-ad-height  = "100"></ins> 
  <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>-->
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- 블로그 광고 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4654940546214466"
       data-ad-slot="8003288437"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {% include pagination-older.html %}
</div>